Source: kawute
Section: net
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Bugs: mailto:ubanus@users.sf.net

Package: kawute
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libwww-perl, libhtml-parser-perl, libapache-configfile-perl, libtext-unidecode-perl
Description: Common codebase for sending SMs via Polish GSM operators gateways
